<div class="gradient">
    <div class="subscription">
        <h2 class="subscription-title">Mantenha-se Informado com Nossa Newsletter</h2>
        <p class="subscription-description">
            Inscreva-se para receber insights e novidades de nossos alunos e especialistas.
            Mantenha-se conectado e descubra novas formas de aprimorar sua experiência de aprendizado.
        </p>
        <form class="subscription-form">
            <input type="email" class="subscription-input" placeholder="Digite seu e-mail">
            <button type="submit" class="subscription-button">Inscreva-se</button>
        </form>
    </div>
    <footer class="footer">
        <div class="footer-links">
            <div class="footer-branding">
                <p class="footer-rand-name">Logo.</p>
            </div>
            <div class="footer-column">
                <a href="/cursos" class="footer-link">Cursos</a>
                <a href="/mentoria" class="footer-link">Mentores</a>
                <a href="/faq" class="footer-link">FAQs</a>
                <a href="/contato" class="footer-link">Contatos</a>
            </div>
            <div class="footer-column">
                <a href="/blog" class="footer-link">Blog</a>
                <a href="/desenvolvimento" class="footer-link">Desenvolvimento</a>
                <a href="/parcerias" class="footer-link">Parceirias</a>
                <a href="/politica-privacidade" class="footer-link">Politica de Privacidade</a>
            </div>
            <div class="footer-column">
                <a href="#" class="footer-link">Instagram</a>
                <a href="#" class="footer-link">Youtube</a>
                <a href="#" class="footer-link">Twitter</a>
                <a href="#" class="footer-link">LinkedIn</a>
            </div>
        </div>
        <p class="footer-copyright">Todos os Direitos Reservados 2024 © Impacta Sociedade</p>
    </footer>
</div>