<nav class="navbar">
    <a href="/" class="navbar-logo">Logo.</a>
    <div class="navbar-notch">
        <a href="/" class="navbar-home-link">Home</a>
        <a href="/cursos" class="navbar-novo-link">Novos Cursos</a>
    </div>
    <div class="navbar-menu">
        <a href="/" class="navbar-menu-link">Home</a>
        <a href="/cursos" class="navbar-menu-link">Cursos</a>
        <a href="/mentoria" class="navbar-menu-link">Mentoria</a>
        <a href="/sobre" class="navbar-menu-link">Sobre</a>
    </div>
</nav>