.error-page {
    text-align: center;
    margin-top: 100px;
    font-family: Arial, sans-serif;
}

.error-page h1 {
    font-size: 3rem;
}

.error-page p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.error-page .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #66bb6a;
    color: white;
    text-decoration: none;
    border-radius: 2rem;
    transition: background-color 0.3s;
}

.error-page .btn:hover {
    background-color: #388e3c;
}